{% extends "base.html" %}
{% block title %}Choose Level{% endblock %}

{% block head %}
{{ super() }}
<style>
.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
</style>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<h1>Hello {{ name }},</h1>
            <h3>Welcome to LogicX</h3>
            {% if track != None and level != None %}
            <p>You were playing with {{track}}, level {{level}}. What would would you like to do now ?</p>
            {% else %}
            <p>Looks like you haven't started yet. If you're stuck, take a look at the help on the right :D. Happy Playing !</p>
            {% endif %}
		</div>
		<div class="row">
			<div class="col-sm-6">
				<ul style="list-style: none;">
					<li style="padding: 20px;"> <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loopLevelSelect">Play with Loops</button> </li>
                    <li style="padding: 20px;">
                            {% if opL == '0' %}
                                <form method="post" action="/level">
                                    <input type="hidden" name="track" value="operators">
                                    <input type="hidden" name="level" value="0">
                                    <button type="submit" class="btn btn-info btn-lg">Play with Operators</button>
                                </form>
                            {% else %}
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#operatorSelect">Play with Operators</button>
                            {% endif %}
                    </li>
				</ul>
			</div>
			<div class="col-sm-6">
				<ul style="list-style: none;">
					<li style="padding: 20px;"> <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#gameHelp">Help !</button> </li>
				</ul>
			</div>
		</div>
	</div>

	{% include "help.html" %}

	<div id="loopLevelSelect" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Choose your level :</h4>
				</div>
				<div class="modal-body">
					<p>
                        <form method="post" action="/level">
                            <button type="submit" class="btn btn-success" name="level" value="0">Level 0</button>
    						<button type="submit" class="btn btn-success" name="level" value="1">Level 1</button>
                            <button type="submit" class="btn btn-success" name="level" value="2">Level 2</button>
                            <button type="submit" class="btn btn-success" name="level" value="3">Level 3</button>
                            <button type="submit" class="btn btn-success" name="level" value="4">Level 4</button>
                            <button type="submit" class="btn btn-success" name="level" value="5">Level 5</button>
                            <input type="hidden" name="track" value="loops">
                        </form>
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

    <div id="operatorSelect" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Want to continue ?</h4>
				</div>
				<div class="modal-body">
					<p>
                        <form method="post" action="/level">
                            <button type="submit" class="btn btn-success" name="level" value="0" >Restart from Level 0</button>
    						<button type="submit" class="btn btn-success" name="level" value="{{opL}}" >Continue where you left</button>
                            <input type="hidden" name="track" value="operators">
                        </form>
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(".modal-wide").on("show.bs.modal", function() {
  var height = $(window).height() - 200;
  $(this).find(".modal-body").css("max-height", height);
});
</script>
{% endblock %}
